<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>base</h1>

    {% if user.is_authenticated %}
        hello {{ user.username }}
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <input type="submit">
        </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">login</a>
    {% endif %}
    {% block body %}
    
    {% endblock %}
</body>
</html>