#font1 {
    font-size: 30px;
    font-family: 'Lovers Quarrel', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    
}
#font2 {
    font-size: 30px;
    font-family: 'Henny Penny', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    
}